* {
    margin: 0;
    padding: 0;
    font-family: tahoma, sans-serif;
    box-sizing: border-box;
}
/* Hình nền */
body {
    background-color: blueviolet;
}
.chatbox {
    width: 500px;
    min-width: 300px;
    height: 600px;
    background-color: brown;
    padding: 25px;
    margin: 20px auto;
    box-shadow: 0 3px;
}

.chat {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 10px;
}
.chatbox img {
    width: 452px;
    height: 181px;
    object-fit: cover;
}